.card-container{
    margin: 50px;
    padding: 20px 70px;
    width: max-content;

    .example-form-field{
        width: 350px;
    }
}
.container{
    height: 100%;
    padding: 20px;
}
.success-card{
    background-color: greenyellow;
}
.title{
    font-weight: 300;
}
