.body-container{
    min-height: 100%;
    width: 100%;
    background-image: url('../assets/image/wallpaper-blue.jpg') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
